* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-color: #0e141b;
  height: 200vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*---------- nav ----------*/

.wrapNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  top: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.wrapLogo {
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
  color: rgb(236, 236, 236);
  text-shadow: 0px 0px px #000000;
}

.wrapLogo > a {
  text-decoration: inherit;
  color: inherit;
}

.textLogo:hover {
  cursor: pointer;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2),
    1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2),
    1px 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

.logo {
  margin-right: 0.5rem;
  height: 2.5rem;
}

.mobileNavButton {
  display: none;
}

.mainNav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.3);
}

@supports (backdrop-filter: blur(0.5rem)) {
  .mainNav {
    backdrop-filter: blur(0.5rem);
  }
}

.mainNav a {
  text-decoration: none;
  color: rgb(236, 236, 236);
  position: relative;
}

.mainNav a > [aria-hidden='true'] {
  font-weight: bold;
  margin-inline-end: 0.5em;
}

.mainNav a::after {
  content: '';
  position: absolute;
  background-color: #008ed7;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  border-radius: 3px;
  transition: 0.3s;
}

.mainNav a:hover::after {
  width: 100%;
}

.mainNav a:hover {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2),
    1px -1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2),
    1px 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

@media (max-width: 43rem) {
  .wrapNav {
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .mainNav {
    position: fixed;
    z-index: 1000;

    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .mainNav[dataVisible='true'] {
    transform: translateX(0);
  }

  .mobileNavButton {
    display: block;
    position: absolute;
    z-index: 9999;

    background: url('./medias/burger_outline_128.png');
    background-repeat: no-repeat;
    background-size: cover;

    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(207deg)
      brightness(105%) contrast(100%);
    opacity: 0.7;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2.5rem;
    right: 2rem;
  }

  .mobileNavButton[aria-expanded='true'] {
    background-image: url(./medias/cross_128px.png);
  }

  .wrapLogo {
    margin-top: 0.75rem;
  }

  .textLogo {
    display: none;
  }
}

@media (min-width: 43em) and (max-width: 55em) {
  .mainNav a > span[aria-hidden] {
    display: none;
  }
  .wrapLogo {
    text-align: center;
  }
}

@media (min-width: 43em) {
  .mainNav {
    padding-block: 1.5rem;
    padding-inline: clamp(3rem, 10vh, 10rem);
    gap: (1.5rem, 5vw, 3rem);
  }
}

/*---------- header ----------*/

header {
  color: rgb(236, 236, 236);
}

.content {
  margin: 0 15%;
  margin-top: 8rem;
}

.content header h3 {
  text-transform: uppercase;
  color: #008ed7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.content header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
}

.content header p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.content header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid #008ed7;
  padding: 1px;
}

.content header a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.content header a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content header a::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #008ed7;
  z-index: -1;
  transition: transform 0.3s ease;
}

@media (max-width: 43em) {
  .content {
    margin: 0 10%;
    margin-top: 5rem;
  }

  .content header h1 {
    font-size: 2rem;
  }

  .content header h3 {
    font-size: 1rem;
  }

  .content header p {
    font-size: 1rem;
  }

  .content header a {
    font-size: 1rem;
  }
}

/*---------- projets ----------*/

.projects {
  margin: 0 15%;
  margin-top: 8rem;
}

.projects h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0;
}

.project {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  margin-top: 2rem;
  width: 300px;
  height: 300px;
  background-image: url(./medias/portfolio01.jpg);
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px,
    rgb(0, 0, 0) 4px 4px 15px 0px inset, 2px 0px 15px -14px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset,
    2px 0px 15px -14px rgba(0, 0, 0, 0);
}

.project h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project p {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (max-width: 43em) {
  .projects {
    margin: 0 10%;
    margin-top: 4rem;
  }

  .projects h1 {
    font-size: 1rem;
  }
}
