* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-image: url(./medias/hamish-weir-aYEUXnVG8tg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* main header */

.wrapLogo {
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: ease-in-out 0.2s;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px px #000000;
}

.wrapLogo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  margin: 2rem;
  margin-right: 1rem;
  height: 3rem;
}

.wrapNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.mobileNavButton {
  display: none;
}

.mainNav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.219);
}

@supports (backdrop-filter: blur(1rem)) {
  .mainNav {
    backdrop-filter: blur(1rem);
  }
}

.mainNav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.mainNav a > [aria-hidden='true'] {
  font-weight: bold;
  margin-inline-end: 0.5em;
}

@media (max-width: 35em) {
  .mainNav {
    position: fixed;
    z-index: 1000;

    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .mainNav[dataVisible='true'] {
    transform: translateX(0);
  }

  .mobileNavButton {
    display: block;
    position: absolute;
    z-index: 9999;

    background: url('./medias/burger_outline_128.png');
    background-repeat: no-repeat;
    background-size: cover;

    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(207deg)
      brightness(105%) contrast(100%);
    opacity: 0.7;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobileNavButton[aria-expanded='true'] {
    background-image: url(./medias/cross_128px.png);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .mainNav a > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) {
  .mainNav {
    padding-block: 1.5rem;
    padding-inline: clamp(3rem, 10vh, 10rem);
    gap: (1.5rem, 5vw, 3rem);
  }
}
