* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #0e141b;
  user-select: none;
  position: relative;
  min-height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*---------- nav ----------*/

.wrapNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  top: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.wrapLogo {
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
  color: rgb(236, 236, 236);
  text-shadow: 0px 0px px #000000;
  text-decoration: none;
}

.wrapLogo:hover {
  cursor: pointer;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15),
    1px -1px 0 rgba(255, 255, 255, 0.15), -1px 1px 0 rgba(255, 255, 255, 0.15),
    1px 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

.logo {
  margin-right: 0.5rem;
  height: 2.5rem;
}

.mobileNavButton {
  display: none;
}

.mainNav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.3);
}

@supports (backdrop-filter: blur(0.5rem)) {
  .mainNav {
    backdrop-filter: blur(0.5rem);
    background: rgba(0, 0, 0, 0.3);
  }
}

.mainNav a {
  text-decoration: none;
  color: rgb(236, 236, 236);
  position: relative;
}

.mainNav a > [aria-hidden='true'] {
  font-weight: bold;
  margin-inline-end: 0.5em;
}

.mainNav a::after {
  content: '';
  position: absolute;
  background-color: #008ed7;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  border-radius: 3px;
  transition: 0.3s;
}

.mainNav a:hover::after {
  width: 100%;
}

.mainNav a:hover {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15),
    1px -1px 0 rgba(255, 255, 255, 0.15), -1px 1px 0 rgba(255, 255, 255, 0.15),
    1px 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

@media (max-width: 43rem) {
  .wrapNav {
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .mainNav {
    position: fixed;
    z-index: 1000;

    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .mainNav {
      backdrop-filter: blur(1rem);
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .mainNav[dataVisible='true'] {
    transform: translateX(0);
  }

  .mobileNavButton {
    display: block;
    position: absolute;
    z-index: 9999;

    background: url('../medias/burger_outline_128.png');
    background-repeat: no-repeat;
    background-size: cover;

    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(207deg)
      brightness(105%) contrast(100%);
    opacity: 0.7;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
  }

  .mobileNavButton[aria-expanded='true'] {
    background-image: url(../medias/cross_128px.png);
  }

  .wrapLogo {
    margin-top: 0.75rem;
  }

  .textLogo {
    display: none;
  }
}

@media (min-width: 43em) and (max-width: 55em) {
  .mainNav a > span[aria-hidden] {
    display: none;
  }
  .wrapLogo {
    text-align: center;
  }
}

@media (min-width: 43em) {
  .mainNav {
    padding-block: 1.5rem;
    padding-inline: clamp(3rem, 10vh, 10rem);
    gap: (1.5rem, 5vw, 3rem);
  }
}

/*---------- content ----------*/

header {
  color: rgb(236, 236, 236);
}

.content {
  margin: 0 20%;
  margin-top: 8rem;
}

/* .contactContent {
  margin-bottom: 10rem;
} */

.content header h3 {
  text-transform: uppercase;
  color: #008ed7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.content header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
}

.content .aboutH1 {
  color: #9da39d;
}

.content header p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.wrapAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.aboutImg {
  width: 450px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 2rem;
}

.underlineLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid #008ed7;
  padding: 1px;
}

.underlineLink::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.underlineLink:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underlineLink::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #008ed7;
  z-index: -1;
  transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
  .wrapAbout {
    flex-direction: column;
    margin-top: 2rem;
  }
  .aboutImg {
    margin-top: 2rem;
  }
}

@media (max-width: 43em) {
  .content {
    margin: 0 8%;
    margin-top: 5rem;
  }

  .contactContent {
    margin-bottom: 10rem;
  }

  .content header h1 {
    font-size: 2rem;
  }

  .content header h3 {
    font-size: 1rem;
  }

  .content header p {
    font-size: 1rem;
  }

  .content header a {
    font-size: 1rem;
  }

  .aboutImg {
    width: 300px;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.wrapContact {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  gap: 2rem;
}

.wrapMail,
.wrapLinkedin,
.wrapGithub {
  display: flex;
  position: relative;
  left: 150px;
}

.label {
  padding: 10px;
  font-size: 18px;
  color: white;
  position: relative;
  right: 300px;
}

.copyText {
  padding: 5px;
  background-color: #0e141b;

  border: 1px solid #008ed7;
  border-radius: 5px;
  display: inline-block;
}

.copyText input.text {
  padding: 5px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  background-color: #0e141b;
}

.copyText button {
  padding: 7px 10px;
  background: #008ed7;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.copyText button a {
  color: inherit;
}

.copyBtn:active {
  background: #008fd79c;
}

.copyText button:active {
  background: #008fd79c;
}

.copyText.active button::before,
.copyText.active button::after {
  display: block;
}

/*---------- projects section ----------*/

.projects {
  margin: 0 20%;
  margin-top: 8rem;
}

.projectsPage {
  margin-top: 4rem;
}

.wrapProjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.projects h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0;
}

.project {
  position: relative;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  margin-top: 2rem;
  user-select: none;
}

.projectImage {
  display: block;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.projectOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.projectOverlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.projectOverlay:hover {
  opacity: 1;
  cursor: pointer;
}

.projectOverlay:hover > * {
  transform: translateY(0);
}

.projectTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.projectDescription {
  font: 1rem;
  margin-top: 3rem;
  width: 80%;
}

.buttonProjects {
  position: relative;
  text-align: right;
  top: 2rem;
}

.buttonProjects a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid #008ed7;
  padding: 1px;
}

.buttonProjects a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.buttonProjects a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.buttonProjects a::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #008ed7;
  z-index: -1;
  transition: transform 0.3s ease;
}

.purple {
  color: #a56fff;
}

.yellow {
  color: #d5b012;
}

.blue {
  color: #20c1d8;
}

.red {
  color: #c16266;
}

.green {
  color: #90b061;
}

@media (max-width: 43em) {
  .projects h1 {
    margin-bottom: 1rem;
  }

  .wrapProjects {
    gap: 1rem;
  }

  .projects {
    margin: 0 8%;
    margin-top: 4rem;
  }

  .projects h1 {
    font-size: 1rem;
  }

  .project {
    margin-top: 1rem;
  }

  .projectImage {
    height: 170px;
    width: 130px;
  }

  .projectOverlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  .projectOverlay > * {
    transform: translateY(0px);
  }

  .projectTitle {
    font-size: 1rem;
  }

  .projectDescription {
    font-size: 0.8rem;
  }

  .label {
    display: none;
  }

  .wrapContact {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 4rem;
    gap: 4rem;
  }

  .wrapMail,
  .wrapLinkedin,
  .wrapGithub {
    left: 0;
  }
}

@media (min-width: 43em) and (max-width: 55em) {
  .wrapProjects {
    justify-content: center;
  }
}

@media (max-width: 349px) {
  .wrapProjects {
    justify-content: center;
  }

  .projectImage {
    width: 230px;
  }
}

/*---------- footer ----------*/

footer {
  clear: both;
  position: relative;
  bottom: -100px;
  width: 100%;
  border-top: 1px solid #008fd736;
}

.wrapFooter {
  margin: 0 20%;
  display: flex;
  justify-content: space-between;
}

.footerItem {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.25s;
}

.date {
  transition: 0.5s;
}

.date:hover {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15),
    1px -1px 0 rgba(255, 255, 255, 0.15), -1px 1px 0 rgba(255, 255, 255, 0.15),
    1px 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

.linkedin {
  transition: 0.25s;
}

.linkedin:hover {
  transform: scale(1.1);
}

.github {
  transition: 0.25s;
}

.github:hover {
  transform: scale(1.1);
}

.itemLogo {
  width: 40px;
  height: 40px;
  background-image: url(../medias/hbicon01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.itemText {
  display: flex;
  flex-direction: column;
  color: rgb(236, 236, 236);
  font-size: 0.9rem;
}

.links {
  gap: 0.75rem;
}

.linkedin {
  width: 30px;
  height: 30px;
  background-image: url(../medias/linkedin01.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.github {
  width: 30px;
  height: 30px;
  background-image: url(../medias/github01.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 43em) {
  footer {
    margin-top: 4rem;
  }

  .wrapFooter {
    margin: 0 8%;
  }

  .footerItem {
    margin: 1rem 0;
  }

  .itemLogo {
    width: 30px;
    height: 30px;
  }

  .itemText {
    font-size: 0.8rem;
  }

  .linkedin {
    width: 25px;
    height: 25px;
  }

  .github {
    width: 25px;
    height: 25px;
  }
}
